Django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
gunicorn
django-channels
daphne
holidays
weasyprint
redis
celery
django-celery-results
whitenoise
channels-redis
django-redis
xhtml2pdf
matplotlib